body{
    background-color: bisque;
    border: 2px;
    border-color: black;
    border-style: double;
}

.maindiv{
    background-color: black;
    color: white;
    height: 600px;
    width:70%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 8%;

}

h1{
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
}

h2{
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
}

.leftdiv{
background-color: aqua;
height: 78%;
width: 45%;
float: left;
margin-left: 4%;
margin-top: 10px;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media only screen and (max-width: 600px) {
    .leftdiv .rightdiv {
        height: 60%;
    }
    /* .rightdiv{
        height: 60%;
    } */
    .maindiv{
        height: 700px;
        width:90%;
        margin-left: 5%;
    }
    img{
        height: 20%;
        width: 70%;
    }
  }

.rightdiv{
background-color: aqua;
height: 78%;
width: 45%;
float: left;
margin-left: 2%;
margin-top: 10px;
color: black;
text-align: center;

}

#clear {
    clear: both;
}

img{
    position: inherit;
    height: 30%;
    width: 70%;
    margin-top: 15px;
    margin-left: 10%;
    margin-bottom: 10px;
}

.topp{
    margin-top: 10px;
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.rightp{
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
p{
    margin: 1%;
}